<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ultra Special Birthday Puzzler Mania</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Bubblegum+Sans&family=Comfortaa:wght@300&display=swap" rel="stylesheet">
</head>
<body>
    <div class="section main-section">
        <h1>Welcome to Your Ultra Special Birthday Puzzler Mania!!!</h1>
        <p class="highlight">Woah? A puzzler mania? That sounds so cool?!?</p>
    </div>

    <div class="text-box">WOW YOU'RE SO COOL!</div>
    <img src="~/images/anya-forger-pointing.png" class="bottom-left-img" alt="Decorative Image">

    <div class="d-flex justify-content-center align-items-center" style="height: 5vh;">
        <a class="btn-custom btn-lg" href="@Url.Action("Dog", "SlidePuzzle")" role="button" style="text-decoration: none;">Start the Puzzle!</a>
    </div>
</body>
</html>
