@{
    ViewData["Title"] = "Crossword Puzzle";
}

<h2>@ViewData["Title"]</h2>

<!-- Include the CryptoJS library for hashing the user id before sending it to the PuzzleMe server. -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/4.1.1/crypto-js.min.js"></script>
<!-- Include the javascript library for embedding this puzzle. -->
<script id="pm-script" src="https://amuselabs.com/pmm/js/puzzleme-embed.js"></script>
<!-- Specify the Amuse Labs server name from where the puzzles will be served -->
<script>
PM_Config.PM_BasePath = "https://amuselabs.com/pmm/";
</script>
<!-- Specifies the puzzle to be embedded on the page. If you want to render multiple games on your page then you can copy paste it multiple times. -->
<div class="pm-embed-div" data-id="ba77a4e3" data-set="8040232536ecc1e9b80345b7d3a11308cad0c260e8c9b6e86e5f1c5309e1b2ee" data-puzzleType="crossword" data-height="700px"></div>

