<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Final</title>
    <style>
        body, html {
            height: 100%;
            margin: 0;
        }

        .centered-text {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            text-align: center;
            width: 80%; /* Adjust width as needed */
        }

        .riddle {
            font-size: 1.2em;
            color: #333;
        }
    </style>
</head>
<body>
    <div class="centered-text">
        <p class="riddle">
            to begin your final puzzle you must solve this riddle, have fun! &lt;3<br>
            'I stand alone, yet hold many tales,<br>
            Letters and cards, reciever of mail.<br>
            A properties edge, I'm near the ledge,<br>
            Beneath my nose, a secret will show,<br>
            What hides under, causing such wonder<br>
            Find me there, and solve this stumper!'<br />
            P.S. your sisters can help with this part, GOOD LUCK!
        </p>
    </div>
</body>
</html>
